<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>formulaire</title>
</head>
<body>
    <main class="content"> <form action="/ma-page-de-traitement" method="post">
        <Fieldset> 
            <!-- Etat civil -->
            <legend>Etat civil</legend>
                <select name="Civilité" id="Civilité">
                    <option value="Mr" selected>Mr</option>
                    <option value="Mme">Mme</option>
                    <option value="Autre">Ne se prononce pas</option>
                  </select>
                <label for="name">Civilité&nbsp;:</label>
                    <input type="" id="name" name="user_name" />
                    <label for="name">Nom&nbsp;:</label>
                    <input type="text" id="name" name="user_name" />
                    <label for="name">Prénom&nbsp;:</label>
                    <input type="text" id="name" name="user_name" />
                    <label for="Date">Date de naissance&nbsp;:</label>
                    <input type="date" id="date" name="date de naissance" />
                    <label for="text">Commune de naissance&nbsp;:</label>
                    <input type="text" id="name" name="city" />
                    <label for="mail">E-mail&nbsp;:</label>
                    <input type="email" id="mail" name="user_mail" />
                
                </Fieldset>
        
        <!-- Coordonnées -->
                <Fieldset> 
                    <legend>Coordonnées</legend>
                        
                        <label for="name">Téléphone&nbsp;:</label>
                            <input type="tel" id="tel" name="Téléphone" />
                            <label for="name">Courriel&nbsp;:</label>
                            <input type="text" id="name" name="user_name" />
                            <label for="name">Site Web&nbsp;:</label>
                            <input type="text" id="name" name="user_name" />
                            
                        </Fieldset>
        
        
                        <Fieldset> 
                            <legend>Compétences</legend>
                                
                                <label for="Niveau d'anglais">Niveau d'anglais&nbsp;:</label>
                                <label for="C1">C1</label>
                                    <input type="radio" id="C1" name="C1" />
                                    <label for="B1">B1</label>
                                    <input type="radio" id="B1" name="B1" />
                                    <label for="A1">A1</label>
                                    <input type="radio" id="A1" name="A1" />
                                    <label for="langages informatiques">Langages informatiques&nbsp;:</label>
                                    <label for="HTML">HTML</label>
                                    <input type="checkbox" name="langages" id="HTML">
                                    <label for="CSS">CSS</label>
                                    <input type="checkbox" name="langages" id="CSS">
                                    <label for="Javascript">Javascript</label>
                                    <input type="checkbox" name = "langages" id="Javascript">
                                    <label for="PHP">PHP</label>
                                    <input type="checkbox" name = "langages" id="PHP">
                                    
                                </Fieldset>
                                <button>Envoyer</button>
                                <button>Effacer</button>
              </form></main>
    <!-- */Formulaire -->
   

  </form>  
</body>
</html>